h1,
h2,
h3 {
  text-align: center;
}

#blankholder {
  text-align: center;
}
#recTitle {
  text-decoration: underline;
}
.form-group {
  width: 100%;
  text-align: center;
}
input,
select {
  height: 2rem;
}
